*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #BDBC8D;
   
   
}

.contenedorTT{
    background-color: #BDBC8D;
    margin: auto;
    padding: AUTO;
    font-size: 3 rem;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    line-height: 25px;
    color: black;
    

}
.navTT{
    background-color: black;
    font-size: 1rem;
    color: white;
}
.header{
    grid-area: header;
    background-color: #BDBC8D;
    text-align: center;
}


li{
    display: inline;
    list-style: none;
    margin: 1.5rem;
    font-family:  'Alegreya SC', serif; ;
   
}
li a{
    text-decoration: none;
    display:inline-block ;
    color: rgb(245, 240, 240);
    transition: all 1s ease;
    
}
.metrix{
    
        background-color: rgb(47, 38, 38);
       justify-content: space-around;
        

}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }


li a:hover{
    color: aliceblue;
    transform: scale(1.5,1.5) ;
    
    

}


.main1{
    
    background-color: #BDBC8D;
    text-align: center;
}
.div{
    margin: 70px;
    padding: 25px;
    font-size: 1 rem;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    line-height: 25px;
    
    
}
.footer{
    grid-area: footer;
    background-color: #BDBC8D;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'IM Fell English SC', serif;
}


@media screen and (max-width:600px){
    .contenedor1{
     grid-template-areas: 
     "header1 header1"
     "nav1 nav1"
     "main1 main1"
     "footer1 footer1" ;
     grid-template-rows: 200px 200px auto 100px;
     grid-template-columns: 200px 200px 100px 100px;
     font-size: 1.5rem;
      
        
    }
   
}

.header1{
    grid-area: header1;
    text-align: center;
}
.nav1{
    grid-area: nav1;
    font-size: 1.2rem;
    font-family: 'IM Fell English SC', serif;
   
}
.main1{
    grid-area: main1;
    font-size: 1.2rem;
    font-family: 'IM Fell English SC', serif;
    
}
.footer1{
    grid-area: footer1;
    background-color: #BDBC8D;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'IM Fell English SC', serif;
}

.tienda98{
    text-align: center;

}
.vinos{
    text-align: center;
    font-size: 2rem;
    font-family: 'Alegreya SC', serif;
    font-weight: lighter;
}

.fotovino{
    margin: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
   

    
}
.ant{


    
    height: 150px;
}
.zucc{
    
    height: 150px;
    opacity: .4;
    border: 2px double grey;
    transition: all 1s ease;
}

.zucc:hover{

    opacity: 1;
    border: white solid 2px;
    transform: scale(1.3,1.3) ;
}


  

.textotienda{
    
    padding: 35px;
    font-size: 1.5 rem;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    line-height: 25px;
    

}
.nuestrosvinos{
    text-align: center;
    font-size: 1rem;
    font-family: 'IM Fell English SC', serif;
}



.listas{
    text-decoration: underline rgb(17, 15, 15);
    font-weight: bold;
    margin: 10px;
    
    
}
.titulocontacto{
    text-align: center;
    font-family:  'Alegreya SC', serif;
    font-size: 2rem;
    margin: 40px;
    font-weight: normal;
}
.textocontacto1{
    margin: 30px;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    line-height: 25px;
}
.formcontacto{
    text-align: center;
    
    
}
legend{
    font-size: 2rem;
    
}

.sobrenostros{
    font-size: 2rem;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    
}
.texto1{
    margin: 30px;
    padding: 10px;
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    font-size: 1.5rem;
    

}
.enologo{
    margin: 30px;
    
}
.texto2{
    margin: 30px;
    padding: 10px;
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    font-size: 1.5rem;
    
}
.barrica{
 margin: 30px;
}

.texto3{
    margin: 30px;
    padding: 10px;
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    font-size: 1.5rem;

}
.uva{
    margin: 30px;
}

.tiendadevinos{
display: inline-flex;
     margin: 20px;
    justify-content: space-around;
     flex-wrap: wrap;
     width: auto;
     align-items: center;
    
}
.divt{
    margin: 10px;
    padding: 30px;
}


.trans{
    transition: all 1s ease;
}
    
.trans :hover{
    transform: scale(1.1,1.1) ;

}
.contenedorcontacto{
    background-color: #BDBC8D;
    display: inline-flex;
    

}
.contenedorYY{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BDBC8D;
   
}










